{% extends 'todo/base.html' %}

{% block content %}
    
    
    
    <!-- Main Container -->
    <div class="container">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">TODO bearbeiten</h1>
        <p class="lead"></p>
      </div>
      
      {% if error %}
        <div class="alert alert-danger" role="alert">
          <strong>Fehler!</strong> Etwas vergessen?
        </div>
      {% endif %}
      
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="date">Fälligkeitsdatum</label>
          <input type="button" id="button-now" class="btn btn-secondary btn-sm" value="Jetzt">
          
          {% comment "Achtung super eklig!" %}
          {% endcomment %}
          
          {% if error %}
            <input type="datetime-local" class="form-control" id="datetime" name="date" value="{{ due_date }}">
          {% else %}
            <input type="datetime-local" class="form-control" id="datetime" name="date" value="{{ due_date|date:'Y-m-d' }}T{{ due_date|date:'H:i' }}">
          {% endif %}
        </div>
        <div class="form-group">
          <label for="description">Beschreibung</label>
          <textarea class="form-control" id="description" name="description" rows="3" maxlength="160">{{ description }}</textarea>
        </div>
        <div class="form-group">
          <label for="percentdone">Bereits erledigt:</label><span id="percent-label">... updating ...</span>
          <input type="range" class="form-control-range" id="percentdone" name="percentdone" value="{{ percent }}">
        </div>
        <button type="submit" class="btn btn-primary">Änderungen speichern</button>
      </form>
    </div>
    
    
    
{% endblock %}
