{% extends 'todo/base.html' %}

{% block content %}
    
    
    
    <!-- Main Container -->
    <div class="container-fluid">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">TODO Liste</h1>
        <p class="lead"></p>
      </div>
      
      
      <!-- Flexbox -->
      <div class="d-flex justify-content-center flex-wrap">
        
        
        {% if todo_list %}
            {% for todo in todo_list %}
                <div class="card m-2 m-lg-3">
                  <div class="card-body">
                    <h5 class="card-title">Fällig bis: {{ todo.due_date.date }} - {{ todo.due_date.time}} Uhr</h5>
                    <p class="card-text">{{ todo.description }}</p>
                    
                    <div class="progress">
                      <div class="progress-bar" role="progressbar"
                        style="width: {{ todo.percent }}%;" aria-valuenow="{{ todo.percent }}"
                        aria-valuemin="0" aria-valuemax="100">{{ todo.percent }}%
                      </div>
                    </div><br>
                    
                    <a class="btn btn-warning btn-sm" href="{% url 'todo:edit' %}">Bearbeiten</a>
                    <a class="btn btn-danger btn-sm" href="#">Löschen</a>
                  </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Nichts zu tun 🎉</p>
        {% endif %}

        
        
        
        
        
      </div>
    </div>
    
    
    
{% endblock %}
