html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.card {
    width: 400px;
}

#button-now {
    height: 20px;
    font-size: 10px;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
}
